<div class="container">
  <div>
    <div class="col-lg-1">
      <h3><a href="https://www.facebook.com/robson.emiliolangkammer"><i class="fa fa-facebook-official"></i></a></h3>
      <h3><a href="http://twitter.com/robsonlangk"><i class="fa fa-twitter"></i></a></h3>
      <h3><a href="https://br.linkedin.com/in/robson-emilio-langkammer-5827b14b"><i class="fa fa-linkedin"></i></a></h3>
    </div>
    <div class="col-lg-3">
      <img class="img-circle" src="images/foto_dev.png" alt="Robson Emilio Langkammer" width="140" height="140">
      <p>Robson Emilio Langkammer</p>
      <p>Desevolvedor e idealizador do projeto</p>

    </div>
    <div class="col-lg-8">
      <h2>Sobre Nós</h2>
      <p>
        Help Pet é um sistema colaborativo de ajuda de animais de rua abandonados possibilitando o rastreio por pessoas ou instituições
        que possam ajudar resgatando e encontrando um novo lar assim tambem minimizando a possibilidade de acontecer acidentes com esses animais.
        Para Ajudar esses animais não precisa resgata-los mas se você poder notificar usando nosso sistema poderá ajudar parceiros a encontralos.
      </p>
    </div>
  </div>
</div>
