<div class="container">
  <div>
    <h2>Sobre Nós</h2>
    <h5>
      Help Pet é um sistema colaborativo de ajuda de animais de rua abandonados possibilitando o rastreio por pessoas ou instituições
      que possam ajudar resgatando e encontrando um novo lar assim tambem minimizando a possibilidade de acontecer acidentes com esses animais.
      Para Ajudar esses animais não precisa resgata-los mas se você poder notificar usando nosso sistema poderá ajudar parceiros a encontralos.
    </h5>
  </div>
</div>
