<div class="espacamento">
  <div class="container">
    <h3><span class="label label-default">Contato</span></h3>
    <hr>
    <div class="row">
      <h5>
        Para contato com a nossa iniciativa use nosso formulario de contato ou acione uma de nossas redes sociais abaixo
      </h5>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <!-- Accent-colored raised button with ripple -->
                <input class="form-control"  placeholder="Nome" type="text" id="nome" ng-model="nome">
              <p></p>
                <input class="form-control"  placeholder="Seu Email" type="text" id="email" ng-model="email">
              <p></p>
              <div>
                <h5>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="diversos">
                  <input type="radio" id="diversos" class="mdl-radio__button" name="options" ng-model="tipo" value="DIVERSOS" checked>
                  <span class="mdl-radio__label">Diversos</span>
                </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="tipo" value="BUGS">
                    <span class="mdl-radio__label">Bugs</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input type="radio" id="option-3" class="mdl-radio__button" name="options" ng-model="tipo" value="AJUDA">
                    <span class="mdl-radio__label">Ajuda</span>
                  </label>
                </h5>
              </div>
              <p></p>
              <div>
                  <textarea class="form-control"  placeholder="Mensagem"  rows="5" id="comment"  ng-model="msg"></textarea>
              </div>
              <p></p>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="contatoSend()">
                Enviar Contato
              </button>
            </div>
            <div class="col-md-6">
              <div class="col-lg-12"><h1><a href="https://www.facebook.com/robson.emiliolangkammer"><i class="fa fa-facebook-official"></i></a></h1></div>
              <div class="col-lg-12"><h1><a href="http://twitter.com/robsonlangk"><i class="fa fa-twitter"></i></a></h1></div>
              <div class="col-lg-12"><h1><a href="https://br.linkedin.com/in/robson-emilio-langkammer-5827b14b"><i class="fa fa-google-plus"></i></a></h1></div>

            </div>
          </div>
        </div>
      <div class="modal fade modal-login" id="MensgEnviadaModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="CadastrarUsuario">Mensagem Enviada</h4>
            </div>
            <div class="modal-body">
              Mensagem Enviada com Sucesso !
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
