<div>
  <div class="row espacamento3">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="adicionarPedido()">
      <i class="material-icons">pets</i> Adicionar Animal Perdido
    </button>
  </div>
  <div class="espacamento3">
  <div class="row espacamento2">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">Notificações</div>
      <div class="panel-body">
        Nenhuma Notificação
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Publicações</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
      <div class="panel panel-info">
        <div class="panel-heading">Animais Perto de Min</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
  </div>

  </div>
</div>
</div>
