<div class="container">
  <div class="row">
      <h4>Por favor selecione pelo menos uma imagem e no maximo 5 fotos do animal</h4>
    <form>
      <div class="form-group">
        <label for="arquivo">Procurar Arquivo</label>
        <input type="file" file-model="file" id="arquivo" class="form-control">
        <p class="help-block">Imagens Aceitas : JPG, JPEG, PNG, BMP</p>
      </div>
      <button type="button" class="btn btn-primary"  ng-click="addFile()"> Adicionar Foto</button>
    </form>
    <div class="espacamento2" ng-repeat="file in files">
      <div class="albuns-fotos pull-left">
        <img  ngf-src="file" ngf-background="file" ngf-resize="{width: 250, height: 250, quality: 0.9}" ngf-no-object-url="true or false" class="img-thumbnail">
        <div class="row pull-right">
          <div class="col-md-12">
            <label for="padrao">Foto Principal</label>
            <input type="radio" name="padrao" ng-click="definirPadrao(file)" ng-model="padrao" value="true">
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-danger" ng-click="removeFile(file)">Deletar</button>
          </div>

        </div>
      </div>
    </div>


    </div>
  <button type="submit" class="btn btn-primary pull-right" ng-click="finalizarPedido()">Finalizar</button>

</div>

