<div class="container">
  <div>
    <h2>Pedido</h2>
    <div class="row">
      <div class="col-md-6">
        <div data-tap-disabled="true">
          <leaflet lf-center="center" markers="markers" layers="layers" height="400px" width="100%"></leaflet>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="tipo_animal">Tipo do Animal</label>
            <select class="col-md-9 form-control" id="tipo_animal" ng-model="pedido.tipoAnimal">
              <option value="CAES">CÃO</option>
              <option value="GATOS">GATO</option>
              <option value="OUTROS">OUTROS</option>
            </select>
          </div>
          <div class="form-group">
            <label for="observacao">Observacao</label>
            <textarea id="observacao" class="form-control" ng-model="pedido.observacao"></textarea>
          </div>
          <div class="form-group">
            <label for="condicao">Condições</label>
            <textarea id="condicao" class="form-control" ng-model="pedido.condicoes"></textarea>
          </div>
          <div class="form-group">
          <label for="estados">Estado</label>
          <select name="estados" id="estados" class="form-control" ng-model="estado"
                  ng-options="e as e.nome for e in uf" style="width: 100%;"
                  ng-change="listaCidades(estado.sigla)" data-placeholder="Selecione o Estado" >
            <option></option>
          </select>
          <label for="cidades">Cidade</label>
          <select name="cidades" id="cidades" class="form-control" ng-model="municipio"
                ng-options="c as c.nome for c in cidades" style="width: 100%;"
                data-placeholder="Selecione a Cidade" ng-change="selecionaCidadeMapa()">
            <option></option>
          </select>
          <label for="tipoendereco">Tipo Endereço</label>
          <select id="tipoendereco" class="col-md-9 form-control" id="tip_endereco" ng-model="tipEndereco">
            <option value="MAPA" checked>Mapa</option>
            <option value="END">Endereco</option>
          </select>

          <label for="endereco">Endereco</label>
          <input id="endereco" class="form-control" ng-model="pedido.endereco" ng-disabled="tipEndereco=='MAPA'">
          <div ng-show="coordenada.lat">Lat : {{coordenada.lat}} Lng : {{coordenada.lng}}</div>
          </div>
          <div class="form-group">
            <label for="freq">Quantas Vezes você ja viu esse animal</label>
            <div ng-init="x = 5">
              <uib-rating id="freq" ng-model="pedido.frequencia" max="3" state-on="'fa fa-eye'" state-off="'fa fa-sun-o'" aria-labelledby="custom-icons-1">

              </uib-rating> <b  ng-show="pedido.frequencia">({{pedido.frequencia}} <i ng-show="pedido.frequencia > 2">Vez ou mais</i> <i ng-show="pedido.frequencia <= 2">Vez </i>)</b></div>
          </div>

        </form>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" ng-click="salvarPedido()">Salvar Pedido e Anexar Fotos</button>


  </div>
</div>
