<ion-view view-title="Comentarios">
  <ion-content class="has-header">
    <div class="item item-divider">
      Comente
    </div>
    <div class="card">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Comentario</span>
        <textarea rows="5" type="text" ng-model="comment"></textarea>
      </label>
      <button class="button button-positive" ng-click="comentar(comment)">
        Comentar
      </button>
    </div>
    <div class="card" ng-repeat="item in comentarios">
      <div ng-show="!item.usuario.idSocial" class="item item-avatar"  >
        <img src="http://www.helppet.net.br/images/{{item.usuario.perfilFoto}}">
        <h2>{{item.usuario.nome}}</h2>
        <p>{{item.data}}</p>
      </div>
      <div ng-show="item.usuario.idSocial" class="item item-avatar"  >
        <img src="https://graph.facebook.com/{{item.usuario.idSocial}}/picture?type=large">
        <h2>{{item.usuario.nome}}</h2>
        <p>{{item.data}}</p>
      </div>
      <div class="item item-text-wrap">
        {{item.comentario}}
      </div>
      <div class="item item-divider">
        <p>{{item.data}}</p>
      </div>
    </div>


  </ion-content>

</ion-view>
