<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>

<div>
	&nbsp;</div>
<div style="background-color: #3366CC; height: 100px;">
	<h1>
		&nbsp;</h1>
	<h1 style="text-align: center;">
		<span style="color:#fff0f5;">Ola ${form.nome} !</span></h1>
</div>
<div>
	<h1>
		<span style="font-family: 'Segoe UI', sans-serif; font-size: 12pt; line-height: 115%;">Sua Mensagem Foi Enviada Corretamente para nossa administração em breve entraremos em contato!.</span></h1>
	<p dir="rtl">
		&nbsp;</p>
	<p dir="rtl">
</div>
<p>
	&nbsp;</p>
</body>
</html>