<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>

<div>
	&nbsp;</div>
<div style="background-color: #3366CC; height: 100px;">
	<h1>
		&nbsp;</h1>
	<h1 style="text-align: center;">
		<span style="color:#fff0f5;">Contato Recebido pelo Portal!</span></h1>
</div>
<div>
	<h1>
		<span style="font-family: 'Segoe UI', sans-serif; font-size: 12pt; line-height: 115%;">
			<p>Nome : ${form.nome}</p>
			<p>Email : ${form.email}</p>
			<p>Tipo do Contato : ${form.tipoContato}</p>
			<p>Tipo do Contato : ${form.msg}</p>
			<p>Data : ${form.data}</p>
		</span>
	</h1>
	<p dir="rtl">
		&nbsp;</p>
	<p dir="rtl">
</div>
<p>
	&nbsp;</p>
</body>
</html>