<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>

<div>
	&nbsp;</div>
<div style="background-color: #3366CC; height: 100px;">
	<h1>
		&nbsp;</h1>
	<h1 style="text-align: center;">
		<span style="color:#fff0f5;">Ola ${user.nome} !</span></h1>
</div>
<div>
	<h1>
		<span style="font-family: 'Segoe UI', sans-serif; font-size: 12pt; line-height: 115%;">Infelizmente sua publicação não foi aprovada por nossa administração para mais detalhes entre em contato conosco em nossa pagina de contato.</span></h1>
	<p dir="rtl">
		&nbsp;</p>
	<p dir="rtl">
		<tt><kbd><span style="font-size: 12pt; line-height: 115%; font-family: 'Segoe UI', sans-serif;">&nbsp; &nbsp; Ps: Enquanto isso continue acessando nosso portal, e ajudando nossos animais a serem resgatados. </span> </kbd> </tt></p>
</div>
<p>
	&nbsp;</p>
</body>
</html>