<ion-view view-title=="Home">
  <ion-content class="padding">
    <div class="list card" ng-repeat="item in pedidos">
      <div>
        <div ng-show="!item.usuario.idSocial" class="item item-avatar"  >
          <img src="http://www.helppet.net.br/images/{{item.usuario.perfilFoto}}">
          <h2>{{item.usuario.nome}}</h2>
          <p>{{item.data}}</p>
        </div>
        <div ng-show="item.usuario.idSocial" class="item item-avatar"  >
          <img src="https://graph.facebook.com/{{item.usuario.idSocial}}/picture?type=large">
          <h2>{{item.usuario.nome}}</h2>
          <p>{{item.data}}</p>
        </div>
        <div class="item item-body">
          <a ng-click="abrirPedido(item)">

          <ion-slide-box on-slide-changed="slideChanged(index)">
              <ion-slide ng-repeat="foto in item.fotos">
                <img src="http://localhost:9000/{{foto}}" height="100%" width="100%">
              </ion-slide>
          </ion-slide-box>
            <!--<img  height="100px" width="100px" ng-src="service/pedido/{{item.id}}/getFoto/0">-->

          </a>
          <p>
            {{item.condicoes}}
          </p>
          <p>
            {{item.observacao}}
          </p>
          <p>
            <a href="#" class="subdued" ng-show="item.quantidadeComentarios > 1">{{item.quantidadeComentarios}} Comentarios</a>
            <a href="#" class="subdued" ng-show="item.quantidadeComentarios < 2">{{item.quantidadeComentarios}} Comentario</a>

          </p>

        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comentar
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Compartilhar
          </a>
        </div>
        <p></p>
      </div>
    </div>
    <div class="card" ng-hide="tamanhoAtual >= tamanhoTotal">
      <button  class="button button-full button-light" ng-click="carregarMais()">Mais Postagens</button>
   </div>
  </ion-content>

</ion-view>
