<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="lib/Leaflet.label/dist/leaflet.label.css" rel="stylesheet">
    <link href="lib/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" rel="stylesheet">
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/leaflet-plugins/layer/tile/Google.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="lib/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/angular-mask/dist/ngMask.min.js"></script>
    <script src="lib/SHA-1/sha1.js"></script>
    <script src="lib/Leaflet.label/dist/leaflet.label.js"></script>
    <script src="lib/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js" rel="stylesheet"></script>
    <script src="lib/angular-input-masks/angular-input-masks-standalone.min.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="lib/blockUI/jquery.blockUI.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/SHA-1/sha1.js"></script>
    <script src="lib/crypto-js/index.js"></script>
    <script src="lib/crypto-js/crypto-js.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <!--<script src="lib/ionic-m"></script>-->

    <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
    <!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD82fHUpxjUqPdNwVtMrSKW9R9b0QI5kzw&sensor=true"></script>-->
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/Controller/IntroController.js"></script>
    <script src="js/Controller/PainelController.js"></script>
    <script src="js/Controller/PedidoController.js"></script>
    <script src="js/Controller/MapaController.js"></script>
    <script src="js/Directive/Alerta.js"></script>
    <script src="js/Service/pipe.js"></script>
    <script src="js/Service/UsuarioService.js"></script>
    <script src="js/utils/request.js"></script>
    <script src="js/Service/PedidoService.js"></script>
    <script src="js/utils/Genericos.js"></script>
    <script src="js/factories/foto.js"></script>
    <script src="js/Controller/PerfilController.js"></script>
    <script src="js/Controller/LoginController.js"></script>
    <script src="js/Service/appPreferences.js"></script>


  </head>
  <body ng-app="myApp">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="templates/sign-in.html" type="text/ng-template">
    <ion-view view-title="Login">
      <ion-content>
        <div ng-include src="'pages/login/login.html'" ></div>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/forgot-password.html" type="text/ng-template">
    <ion-view view-title="Forgot Password">
      <ion-content padding="true">
        <p>
          Yeah this is just a demo showing how views can be shown without tabs, then you can navigate
          to views within tabs. Additionally, only one set of tabs needs to be written for all of the different views that should go inside the tabs. (Compared to written the same tab links in the footer of every view that's in a tab.)
        </p>
        <p>
          There's no username/password, just click
          the Sign-In button back a the sign-in view.
        </p>
        <p>
          Return to <a href="#/sign-in">Sign-In</a>.
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/tabs.html" type="text/ng-template">
    <ion-view>
      <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Pedidos Ajuda" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab">
          </ion-nav-view>
        </ion-tab>

        <ion-tab title="Mapa" icon="ion-map" href="#/tab/mapa">
          <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Perfil" icon="ion-person" href="#/tab/perfil">
          <ion-nav-view name="perfil-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </ion-view>
  </script>

  <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Pedidos Ajuda">
      <ion-nav-buttons  side="right">
        <button class="button button-positive no-animation" ng-click="abreModalPedido()">
          Adicionar Pedido
        </button>
      </ion-nav-buttons>
        <div ng-include src="'pages/tabs/home.html'" ></div>
    </ion-view>
  </script>

  <script id="templates/detalhepedido.html" type="text/ng-template">
    <ion-view view-title="Pedido">
      <div ng-include src="'pages/tabs/sub_tab/detailpedido.html'" ></div>
      <!--<ion-content padding="true">-->
        <!--<p>Banging your head against a wall uses 150 calories an hour.</p>-->
        <!--<p>Dogs have four toes on their hind feet, and five on their front feet.</p>-->
        <!--<p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>-->
        <!--<p>A cockroach will live nine days without it's head, before it starves to death.</p>-->
        <!--<p>Polar bears are left handed.</p>-->
        <!--<p>-->
          <!--<a class="button icon ion-home" href="#/tab/home"> Home</a>-->
          <!--<a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>-->
        <!--</p>-->
      <!--</ion-content>-->
    </ion-view>
  </script>
  <!--<script id="templates/detailpedido_mapa.html" type="text/ng-template">-->
    <!--<ion-view view-title="Pedido">-->
      <!--<div ng-include src="'pages/tabs/sub_tab/detailpedido_mapa.html'" ></div>-->
      <!--&lt;!&ndash;<ion-content padding="true">&ndash;&gt;-->
      <!--&lt;!&ndash;<p>Banging your head against a wall uses 150 calories an hour.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>Dogs have four toes on their hind feet, and five on their front feet.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>A cockroach will live nine days without it's head, before it starves to death.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>Polar bears are left handed.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="button icon ion-home" href="#/tab/home"> Home</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-content>&ndash;&gt;-->
    <!--</ion-view>-->
  <!--</script>-->
  <script id="templates/facts2.html" type="text/ng-template">
    <ion-view view-title="Also Factual">
      <ion-content padding="true">
        <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
        <p>1 in every 4 Americans has appeared on T.V.</p>
        <p>11% of the world is left-handed.</p>
        <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
        <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
        <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
          <a class="button icon ion-chevron-left" href="#/tab/detalhepedido"> Scientific Facts</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/mapa.html" type="text/ng-template">
    <ion-view view-title="Mapa">
      <ion-nav-buttons  side="right">
        <button class="button button-positive no-animation" ng-click="filtroMapa.show()">
          Filtrar
        </button>
      </ion-nav-buttons>
      <div ng-include src="'pages/tabs/mapa.html'"></div>

    </ion-view>
  </script>
  <script id="templates/perfil.html" type="text/ng-template">
    <ion-view view-title="Perfil">
      <div ng-include src="'pages/tabs/perfil.html'"></div>
    </ion-view>
  </script>

  </body>
</html>
